// Include custom home
section.home {
    // max-width: 1090px;
    margin: 0 auto;
    // padding: 0 15px;
}
.home>header .title {
    background: none !important;
}
.global-header .nav-links .secondary {
    .btn-holder {
        letter-spacing: -.32em;
        margin: 0 -7px;
        .nav-item {
            letter-spacing: normal;
            margin: 0 7px;
            padding: 12px 0;
            .btn {
                line-height: 20px;
                padding: 9px 17px;
                font-size: 14px;
                border-radius: 6px;
                font-weight: 500;
                display: block;
            }
        }
    }
}
#main .home.style-logout  {
    header {
        .outer-wrapper {
            padding: 4rem;
            max-width: 100%;
            .title {
                width: 100%;
                max-width: 80rem;
                min-height: 24rem;
                float: none;
                margin: 0 auto;
                padding: 0;

                .heading-group {
                    margin: 0 0 25px;
                    text-align: left;
                    padding: 0;
                    @include media-breakpoint-up(sm) {
                        margin: 0 0 45px;
                    }
                    h1.courses-heading {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        text-transform: uppercase;
                        color: rgb(30,58 ,138);
                        font-weight: 700;
                        text-align: left;
                        
                        @include media-breakpoint-up(md) {
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0 0 12px;
                        }
                    }
                    p {
                        font-size: 16px;
                        line-height: 20px;
                        color: #6B7280;
                        font-style: normal;
                        margin: 0;
                    }
                }
                .course-search {
                    padding: 0;
                    .search-field-wrapper {
                        &:after {
                            clear: both;
                            content: "";
                            display: block;
                        }
                        .button-holder {
                            float: right;
                            button {
                                position: static;
                                margin: 0 0 0 16px;
                                min-width: 90px;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 26px;
                                text-align: center;
                                padding: 6px;
                                height: 38px;
                                border-radius: 6px;
                                background: $primary;
                                font-family: $font-family-title;
                                border: none;
                                @include media-breakpoint-up(sm) {
                                    min-width: 100px;
                                }
                                &:hover {
                                    background: $primary;
                                    opacity: .8;
                                }
                            }
                        }
                        .input-holder {
                            overflow: hidden;
                            border-radius: 6px;
                            background: $primary-light;
                            padding: 0 0 0 33px;
                            position: relative;
                            display: block;
                            svg {
                                position: absolute;
                                left: 12px;
                                font-size: 20px;
                                top: 10px;
                            }
                            input {
                                border: none;
                                box-shadow: none;
                                height: 38px;
                                width: 100%;
                                background: none;
                                outline: none;
                                font-size: 14px;
                                line-height: 20px;
                                padding: 9px 10px;
                            }
                        }
                    }
                }
            }
        @include media-breakpoint-down(lg) {
            padding: 2rem;
        }
        }
    }
}

// pips styling

.btn-pips{
    line-height: 1.5rem;
    padding: 0.625rem 0.875rem;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    background: rgb(59,130, 246);
    box-shadow: 0 0 #000, 0 0 #000, 0 1px 2px 0 #000000;
    border: none;
    text-shadow: none;

    &.btn-green{
        background: rgb(34,197,94);

        &:hover{
            background: rgb(33, 169, 83);
        }
    }

    &:hover{
        background: rgb(62, 121, 215);
    }

    &:active, &:focus{ box-shadow: none; }
}


.banner {
    background-image: url("#{$static-path}/images/pips-assets/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    padding: 4rem;
    @include media-breakpoint-down(lg) {
        padding: 2rem;
    }
    @include media-breakpoint-down(md) {
        padding: 1rem;
    }

    .banner-container{
        padding: 4rem 2rem;
        margin: 0 auto;
        width: 66.66667%;

        .banner-text{
            .sub-heading{
                font-size: 1.5rem;
                line-height: 2rem;
            }

            .heading-display-3{
                text-align: left;
                margin: 3rem 0;
                font-size: 3.75rem;
                line-height: 1;
                color: white;
            }

            .text-lead{
                font-size: 1.5rem;
                line-height: 2rem;
            }

            .action-buttons{
                margin-top: 2rem;
                & a:first-child{
                    margin-right: 10px; 
                }
            }

            @include media-breakpoint-down(lg) {
                .sub-heading{
                    font-size: 1rem;
                }
                .heading-display-3{
                    font-size: 2.25rem;
                    line-height: 2.5rem;
                    margin: 2rem 0;
                }
                .text-lead{
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                }
                .action-buttons {
                    margin-top: 1.5rem;

                    & a:first-child {
                        margin-right: 5px;
                    }
                }
            }

        }

        @include media-breakpoint-down(lg) {
            padding: 2rem;
            margin-left: 0;
            margin-right: 0;
        }
        @include media-breakpoint-down(md) {
            padding: 2rem 1.5rem;
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
            width: 100%;
        }
    }
}

.welcome-section{
    padding: 4rem;
    max-width: 100%;
    & > div{
        max-width: 80rem;
        margin: 0 auto;
        padding: 4rem 2rem;

        h2{
            font-size: 2.25rem;
            line-height: 2.5rem;
            text-align: center;
            font-weight: 700;
            color: rgb(30,58,138);
        }
        p{
            margin-top: 1rem;
            margin-bottom: 4rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .grid{
            display: grid;
            gap: 1rem;

            h5{
                font-weight: 700;
                font-size: 1rem;
            }
        }

        .grid-cols-2{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .video-frame {
            width: 100%;
            height: 315px;
            margin: 4px 0;
            border: none;
        }

        @include media-breakpoint-down(lg) {
            padding: 2rem;
            h2 {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: left;
            }
        
            p {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                font-size: 1rem;
                line-height: 1.5rem;
                text-align: left !important;
            }
        }
        @include media-breakpoint-down(md) {
            padding: 2rem 1.5rem;
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
            .grid-cols-2 {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 2rem;
    }
    @include media-breakpoint-down(sm) {
        padding: 1rem;
    }
}

.platform-section{
    padding: 4rem;
    background: rgb(245,245,245);
    & .platform-container{
        margin: auto;
        padding: 4rem 2rem;
        max-width: 80rem;
        text-align: center;

        .text-heading{
            font-size: 2.25rem;
            line-height: 2.5rem;
            color: rgb(30,58, 138);
        }

        .text-para{
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 1rem;
            margin-bottom: 4rem;
            text-align: center;
        }
        h3{
            font-size: 1.5rem;
            line-height: 2rem;
        }
        boxes{ margin-top: 2rem; }
        .grid {
            display: grid;
            gap: 1rem;
            margin: 0 2rem;
        }

        .grid-cols-2 {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        .card-box{
            border-radius: .5rem;
            background-color: rgb(255,255, 255);
            border: 1px solid rgb(229, 229, 229);
            padding-bottom: 2.75rem;

            .w-32{
                width: 8rem;
            }
            .h-32{
                height: 8rem;
            }

            & > div{
                padding: 1.5rem;

                h4{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: bold;
                }
                p{
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            padding: 2rem;
            
            .text-heading {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: left !important;
            }
            
            .text-para {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: left !important;
            }
        
            h3 {
                font-size: 1rem;
                line-height: 1.5rem;
                text-align: left !important;
            }
        
            boxes {
                margin-top: 1rem;
            }
        
            .grid {
                margin: 0;
            }
        
            .card-box{
                padding-bottom: 1.5rem;
            }
        }
        @include media-breakpoint-down(md) {
            padding: 2rem 1.5rem;
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
            .grid-cols-2 {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
            .card-box{
                padding: 0;
                margin-bottom: 0 !important; 
            }
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 2rem;
    }
    @include media-breakpoint-down(sm) {
        padding: 1rem;
    }   
}

.partners-section{
    padding: 4rem;
    background: rgb(245 ,245 ,245);
    text-align: center;
    & > .partners-container{
        max-width: 80rem;
        padding: 4rem 2rem;
        margin: 0 auto;

        .heading{
            font-size: 2.25rem;
            line-height: 2.5rem;
            text-align: center;
            color: rgb(30, 58 ,138);
            font-weight: bold;
        }
        .grid{
            display: grid;
            gap: 1rem;
            margin: 4rem auto;
            text-align: center;
            max-width: 80rem;
        }

        .grid-cols-2{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        img{
            height: 8rem;
            margin: 0 auto;
        }

        .contributors{
            text-align: center;
            padding-top: 1.5rem;
        }

        @include media-breakpoint-down(lg) {
            padding: 2rem;
            .heading {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: left;
            }
            .grid {
                margin: 4rem 0;
                max-width: 100%;
            }
        }
        @include media-breakpoint-down(md) {
            padding: 2rem 1.5rem;
            .grid {
                margin: 2rem 0;
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 2rem;
        text-align: left;
    }
    @include media-breakpoint-down(sm) {
        padding: 1rem;
        .grid{gap: 2.5rem;}
        .grid-cols-2 {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}