<%namespace name='static' file='static_content.html' />

<section class="partners-section">
    <div class="partners-container">
        <h3 class="heading mb-4">SUPPORTED BY OUR PARTNERS</h3>
        <div class="grid grid-cols-2">
            <div class="col-auto">
                <img src='${static.url("images/pips-assets/eu.svg")}' alt="EU" class="partner-logo">
            </div>
            <div class="col-auto">
                <img src='${static.url("images/pips-assets/giz.jpg")}' alt="GIZ" class="partner-logo">
            </div>
            <div class="col-auto">
                <img src='${static.url("images/pips-assets/undp.svg")}' alt="UNDP" class="partner-logo">
            </div>
            <div class="col-auto">
                <img src='${static.url("images/pips-assets/undp.svg")}' alt="UNDP" class="partner-logo">
            </div>
            <div class="col-auto">
                <img src='${static.url("images/pips-assets/cfp.svg")}' alt="Code for Pakistan" class="partner-logo">
            </div>
        </div>
        <a href="" class="btn btn-pips btn-green">See all contributors</a>
    </div>
</section>