// Include custom Footer
.wrapper-footer {
    padding: 25px 0;
    border-top: 1px solid #E5E7EB;
    @include media-breakpoint-up(lg) {
        padding: 45px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 1rem 0;
    }
}
footer.tutor-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80rem;
    text-align: center;
    box-sizing: border-box;
    @include media-breakpoint-up(lg) {
        text-align: left;
    }
    .footer-top {
        margin: 0 0 15px;
        &:after {
            clear: both;
            display: block;
            content: "";
        }
        .powered-area {
            margin: 0 0 10px;
            @include media-breakpoint-up(md) {
                margin: 0 0 15px;
            }
            @include media-breakpoint-up(lg) {
                float: none;
            }
        }
    }
    .logo-list {
        list-style: none;
        margin: 0;
        padding: 0;
        letter-spacing: -.3em;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            letter-spacing: normal;
            position: relative;
            font-size: 12px;
            line-height: 18px;
            color: #6B7280;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-left: 20px;
                &:after {
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    content: "";
                    width: 1px;
                    height: 29px;
                    margin: -14px 0 0;
                    background: #6B7280;;
                }
            }
        }
    }
    .nav-colophon {
        display: block;
        overflow: hidden;
        ol {
            text-align: right;
            @include media-breakpoint-down(xl) {
                text-align: left;
            }
            @include media-breakpoint-down(lg) {
                text-align: center;
                margin: 0.275rem 0;
            }
            li {
                display: inline-block;
                vertical-align: top;
                padding: 0 8px;
                font-size: 14px;
                line-height: 20px;
                @include media-breakpoint-down(xl) {
                    padding: 0 0.5rem;
                    font-size: 16px;
                    line-height: 24px;
                    &:first-child {
                        padding-left: 0;
                    }
                }
                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 14px;
                    &:hover {
                        color: $drak;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .copyright-socials{
        .copyright-site {
            display: block;
            color: #000;
            line-height: 1.25rem;
            max-width: 750px;
        }

        .social{
            a {
                padding: 0.375rem 0.625rem;
                img{
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
            @include media-breakpoint-down(xl) {
                margin-top: 1rem;
                a:first-child{
                    padding-left: 0;
                }
            }
        }

        @include media-breakpoint-down(xl) {
            flex-direction: column; 

            .copyright-site {
                font-size: 0.875rem;
            }
        }
    }
}