<%namespace name='static' file='../static_content.html' />
<%page expression_filter="h" />
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contributors")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container-contributor">
        <article class="">
            <div class="contributor-div">
                <h1 class="text-2xl font-bold uppercase text-blue text-left">Our Partners &amp; Contributors</h1>
                <p class="text-lg">We would like to thank all our partners and contributors in this venture.</p>
                <div class="grid grid-cols-3 box-container">
                    <div class="bg-gray box-card">
                        <div class=""><img src="${static.url('images/pips-assets/eu.jpeg')}">
                            <h5 class="text-2xl font-bold text-center">UNDP</h5>
                            <p class="text-center">For Supporting policy &amp; capacity building</p>
                        </div>
                    </div>
                    <div class="bg-gray box-card">
                        <div ><img src="${static.url('images/pips-assets/cfp.svg')}">
                            <h5 class="text-2xl font-bold text-center">Code for Pakistan</h5>
                            <p class="text-center">For Providing technical support</p>
                        </div>
                    </div>
                    <div class="bg-gray box-card">
                        <div ><img src="${static.url('images/pips-assets/contributors.svg')}" alt="Learning">
                            <h5 class="text-2xl font-bold text-center">Team Members &amp; Content Contributors </h5>
                            <p class="text-center">Names and Roles</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
