.container-tos, .container-privacy{
    padding: 4rem 0;
    
    .uppercase {
        text-transform: uppercase;
    }

    .font-bold {
        font-weight: 700;
    }

    & > div {
        margin: 0 auto;
        max-width: 80rem;
        padding: 0 2rem;
        margin-bottom: 3rem;
        color: #000;

        h1{ margin: 0; text-align: left; }

        .text-subtitle{
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: rgb(115,115,115);
            margin-bottom: 1rem;
        }

        .service-agreement{
            margin-bottom: 1rem;
            font-size: 1rem;
            line-height: 1.25rem;
        }

        .point-heading{
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid rgb(229,229,229);
        }

        .grid{
            display: grid;
            margin-bottom: 1rem;
            line-height: 24px;
            font-size: 1rem;
            gap: 0
        }
        .grid-cols-12{
            grid-template-columns: repeat(12, minmax(0, 1fr));
        }

        .col-span-2{
            grid-column: span 2/span 2;
        } 
        .col-span-10 {
            grid-column: span 10/span 10;
            margin: 0;
        }

        .opacity-75 {
            opacity: .75;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 1rem 0;

        &>div {
            padding: 0 1rem;
        }
    }
}