$primary: #15376D;
$primary-light: #F2F7F8;

// Theme fonts
$font-family-title: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji','Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
$serif: ui-sans-serif,
system-ui,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol',
'Noto Color Emoji',
sans-serif;
$f-sans-serif: ui-sans-serif, system-ui, sans-serif, 'Roboto', 'Open Sans','Helvetica Neue', Helvetica, Arial;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

$drak: #111827;
$light-drak: #374151;
